* {
    box-sizing: border-box;
    background-color: gray;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.snippets {
    flex: 1 0 0;
    padding: 10px;
    text-align: left;
    border-style: dashed;
    border-width: 1px;
}

h1{
    color: violet;
}

.row {
    
}

